<div class="wrapper">
  <div class="container">
    <div class="form_row">
      <form [formGroup]="form" 
      action="javascript:void(0)"
      (input)="checkPassword($any($event.target).value)">
        <div class="form__field">
          <input 
          class="form__field_text" 
          type="text"
          formControlName = "form_password"
          name ="password"
          id = "password"
          placeholder="password"
          >
        </div>
      </form>
      <div class="strength_pass">
        <div class="section_str" [ngStyle]="{'background-color': section1}"></div>
        <div class="section_str" [ngStyle]="{'background-color': section2}"></div>
        <div class="section_str" [ngStyle]="{'background-color': section3}"></div>
    </div>
    </div>
  </div>
</div>